In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext('local')

In [4]:
empList=['1,kim,000-000-000','2,lee,111-111-111',
       '3,park,222-222-222','4,song,333-333-333',
       '5,han,555-555-555','6,yoon,666-666-666']
deptList = ['1,sale','2,developer','3,manager',
           '4,sale1','5,developer1','6,manager1']

In [5]:
# paralleize( ) 를 통해서 RDD 객체 만들기
empRdd = sc.parallelize( empList )
deptRdd = sc.parallelize( deptList )

In [6]:
empRdd.collect()

['1,kim,000-000-000',
 '2,lee,111-111-111',
 '3,park,222-222-222',
 '4,song,333-333-333',
 '5,han,555-555-555',
 '6,yoon,666-666-666']

In [7]:
deptRdd.collect()

['1,sale', '2,developer', '3,manager', '4,sale1', '5,developer1', '6,manager1']

In [11]:
empRdd1 = empRdd.map( lambda v: v.split(',') ) # comma 기준으로 자르기
empRdd1.collect()

[['1', 'kim', '000-000-000'],
 ['2', 'lee', '111-111-111'],
 ['3', 'park', '222-222-222'],
 ['4', 'song', '333-333-333'],
 ['5', 'han', '555-555-555'],
 ['6', 'yoon', '666-666-666']]

In [14]:
empRdd2 = empRdd1.map( lambda v: (v[0], v[1] + ' '+ v[2])  ) # 각각을 튜플로 반환
empRdd2.collect()

[('1', 'kim 000-000-000'),
 ('2', 'lee 111-111-111'),
 ('3', 'park 222-222-222'),
 ('4', 'song 333-333-333'),
 ('5', 'han 555-555-555'),
 ('6', 'yoon 666-666-666')]

In [19]:
deptRdd1 = deptRdd.map( lambda v: v.split(',')).map( lambda v: ( v[0], v[1] )) # 튜플로 변환
deptRdd1.collect()

[('1', 'sale'),
 ('2', 'developer'),
 ('3', 'manager'),
 ('4', 'sale1'),
 ('5', 'developer1'),
 ('6', 'manager1')]

## join( )
- transformation 함수
- RDD 결합
- 동일한 키로 결합시켜준다
    - key는? (a,b) 튜플형태에서 a

In [23]:
joinData = empRdd2.join( deptRdd1 )
joinData.collect()

[('1', ('kim 000-000-000', 'sale')),
 ('4', ('song 333-333-333', 'sale1')),
 ('2', ('lee 111-111-111', 'developer')),
 ('3', ('park 222-222-222', 'manager')),
 ('5', ('han 555-555-555', 'developer1')),
 ('6', ('yoon 666-666-666', 'manager1'))]

In [27]:
sortedRdd = joinData.sortByKey() # 튜플의 '키' 순으로 정렬
sortedRdd.collect()

[('1', ('kim 000-000-000', 'sale')),
 ('2', ('lee 111-111-111', 'developer')),
 ('3', ('park 222-222-222', 'manager')),
 ('4', ('song 333-333-333', 'sale1')),
 ('5', ('han 555-555-555', 'developer1')),
 ('6', ('yoon 666-666-666', 'manager1'))]

In [28]:
sortedRdd.take(2)

[('1', ('kim 000-000-000', 'sale')), ('2', ('lee 111-111-111', 'developer'))]

In [29]:
sortedRdd.first() # action 함수

('1', ('kim 000-000-000', 'sale'))

In [30]:
sortedRdd.countByKey() # action 함수 => 딕셔너리 형태로 변환

defaultdict(int, {'1': 1, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1})